@charset "utf-8";
html, body {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	border: 0;
	font-family: PingFangSC-Regular, "微软雅黑";
}
html, body, ul, li, ol, p, div, h1, h2, h3, h4, h5, h6, nav, header, footer, table, tr, td, th, form, label {
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-after: 0;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
ul, li {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
	color: #333;
}
img {
	border: 0;
}
input, label, textarea {
	font-family: "微软雅黑";
	vertical-align: middle;
}
input::-webkit-input-placeholder{
	color: #999;
}
::-moz-focus-inner{
	border:0px;		/*火狐的私有属性去掉点击时边框*/
}
.flex {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.fcol {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex1{
	-webkit-flex: 1;
	flex: 1;
}
.fshink0{
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}
.fwrap{
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.fnowrap{
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.spb {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.spa {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.fend{
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.spc {
	-webkit-justify-content: center;
	justify-content: center;
}
.fcen {
	-webkit-align-items: center;
	align-items: center;
}
*, a {
	-webkit-tap-highlight-color: transparent;
}
[v-cloak] {
	display: none;
}
.txtL {
	text-align: left;
}
.txtC {
	text-align: center;
}
.txtR {
	text-align: right;
}
.show{
	display: block!important;
}
.hide{
	display: none!important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.bold{
	font-weight: 600;
}
.light{
	font-weight: 400;
}
.p10{
	padding: .1rem;
}
.pt10{
	padding-top: .1rem;
}
.pb10{
	padding-bottom: .1rem;
}
.pl10{
	padding-left: .1rem;
}
.pr10{
	padding-right: .1rem;
}
.plr10{
	padding: 0 .1rem;
}
.ptb10{
	padding: .1rem 0;
}
.c999{
	color: #999;
}
html, body, #app {
	height: 100%;
	line-height: 1.5;
	min-height: 100%;
	margin: 0 auto;
	-webkit-overflow-scrolling: touch;
}
.mint-indicator{
	font-size: 14px;
}