html, body{
    -webkit-overflow-scrolling: touch;
}
#app, .container, .body{
    height: 100%;
}
.body{
    width: 100%;
    padding-top: .45rem;
    background: url(./../img/bg_m.png) no-repeat 0 0 / 100% 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.body .logo{
    width: .85rem;
    height: .85rem;
    position: relative;
    top: 2px;
    margin-top: .8rem;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.body .txt1{
    text-align: center;
    color: #fff;
    font-size: .18rem;
    line-height: .3rem;
}

.body .txt1:first-of-type{
    margin-top: .5rem;
}

.dl-box{
    margin-top: .1rem;
    text-align: center;
}

.dl-box .dl-a{
    display: block;
    width: 1.85rem;
    height: .4rem;
    line-height: .4rem;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    font-size: .14rem;
    border-radius: .4rem;
    margin: .5rem auto 0;
}