html, body {
    max-width: none;
    font-size: 14px;
    background: #f4f4f4;
}

.body {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    background: url(./../img/bg@2x.png) no-repeat 0 0 / 100% 100%;
}

.txt1 {
    font-size: 42px;
    line-height: 65px;
    font-family: 'PingFang-SC-Medium';
}

.txt2 {
    margin-top: 20px;
}

.dl-box {
    margin: 60px auto;
    overflow: hidden;
}

.dl-box .dl-a {
    display: inline-block;
    width: 230px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 60px;
    border: 2px solid #fff;
}

.dl-box .dl-a:first-child {
    margin-right: 90px;
}

.mobile {
    width: 748px;
}