.container {
  font-size: 14px;
  background: #f4f4f4;
}
.heads{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.m-body-pc {
  margin: 160px auto 0;
}

.m-body-pc .ex-info {
  padding: 24px;
  background: #fff;
  overflow: hidden;
}

.m-body-pc .ex-info .left {
  width: 75%;
  color: #111210;
  border-right: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.m-body-pc .ex-info .ex-logo img {
  width: 136px;
  height: 136px;
  margin-right: 28px;
  vertical-align: top;
}

.m-body-pc .ex-info .info {
  height: 136px;
  padding-right: 25px;
  position: relative;
  word-break: break-all;
  max-width: 635px;
  padding-bottom: 30px;
}

.m-body-pc .ex-info .info .name {
  font-size: 28px;
  margin-bottom: 5px;
  line-height: 1.2;
}

.m-body-pc .ex-info .info .intro {
  font-size: 14px;
  line-height: 24px;
  min-height: 75px;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}

.m-body-pc .ex-info .info .intro.all{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.m-body-pc .ex-info .info .look{
  position: absolute;
  color: #fff;
  font-size: 14px;
  right: -20px;
  bottom: 20px;
  padding: 0 5px;
  background: #128EE9;
  border-radius: 3px;
}

.m-body-pc .ex-info .info .link {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1;
  white-space: nowrap;
}

.m-body-pc .ex-info .info .link a {
  color: #128EE9;
}

.m-body-pc .ex-info .info .link a:hover {
  text-decoration: underline;
}

.m-body-pc .ex-info .info .link .country {
  padding-left: 40px;
}

.m-body-pc .ex-info .right {
  width: 25%;
  padding: 20px 0 0;
  overflow: hidden;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.m-body-pc .ex-info .right .p1 {
  font-size: 16px;
  color: #666;
}

.m-body-pc .ex-info .right .rank {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 2px 5px;
  background: #108EE9;
  border-radius: 2px;
  margin-bottom: 20px;
}

.m-body-pc .ex-info .right .price {
  font-size: 30px;
  color: #111210;
}

.m-body-pc .ex-info .right .us {
  font-size: 16px;
  color: #666;
}

.m-body-pc .wrapper {
  margin-top: 12px;
  background: #fff;
  padding: 24px;
}

.m-body-pc .wrapper .title {
  font-size: 28px;
  color: #108EE8;
  margin-bottom: 20px;
}

.m-body-pc .market {
  width: 100%;
  border-collapse: collapse;
}

.m-body-pc .market th {
  text-align: left;
  padding-left: 25px;
  background: #f4f4f4;
  font-size: 18px;
  color: #666;
  height: 52px;
  line-height: 52px;
}

.m-body-pc .market td {
  font-size: 18px;
  height: 52px;
  line-height: 52px;
  background: #fff;
  color: #111210;
  padding-left: 25px;
}

.m-body-pc .market td.name {
  min-width: 150px;
  color: #128EE9;
  white-space: nowrap;
}

.m-body-pc .market td.up {
  color: #00AC1E;
}

.m-body-pc .market td.down {
  color: #C52B18;
}

.to-top-pc {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: 600px;
  background: #34a2d6 url(../img/totop.png) no-repeat center;
  background-size: 30px 30px;
  opacity: 0.6;
  display: none;
}
